@import url('https://fonts.googleapis.com/css2?family=Oxanium&display=swap');
@import "tailwindcss";

@layer base {
  body {
    font-family: 'Oxanium', sans-serif;
    @apply bg-gray-100;
    background-image:
      linear-gradient(0deg, transparent calc(100% - 1px), #fff calc(100% - 1px)),
      linear-gradient(90deg, transparent calc(100% - 1px), #fff calc(100% - 1px));
    background-repeat: repeat;
    background-position: 50%;
    background-size: clamp(40px, 3.33vw, 42px) clamp(40px, 3.33vw, 42px);
    animation: gridScroll 4s linear infinite;

    /* background-image:
    repeating-linear-gradient(45deg, #fff 0, #fff 1px, transparent 1px, transparent 40px),
    repeating-linear-gradient(-45deg, #fff 0, #fff 1px, transparent 1px, transparent 40px);
    background-size: 100% 100%;
    background-repeat: repeat; */
  }
}



@keyframes gridScroll {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40px 40px;
  }
}

@keyframes wiggle-right {
  0%, 100% {
    transform: rotate(-8deg);
  }
  50% {
    transform: rotate(8deg);
  }
}

@keyframes wiggle-left {
  0%, 100% {
    transform: rotate(8deg);
  }
  50% {
    transform: rotate(-8deg);
  }
}

@keyframes wiggle {
  0%, 100% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
}

/* @keyframes tilt {
  0%{
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-3deg);
  }
} */

@keyframes dropdownSlideIn {
  0% {
    max-height: 0;
    margin-top: 0;
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    max-height: 600px;
    margin-top: 60px;
  }
}

@keyframes dropdownSlideOut {
  0% {
    max-height: 600px;
    margin-top: 60px;
  }
  99% {
    opacity: 1;
  }
  100% {
    max-height: 0;
    margin-top: 0;
    opacity: 0;
  }
}



@layer components {
  .header-section {
    @apply relative flex-col py-[50px] overflow-clip
  }

  .header-sticker {
    @apply absolute max-w-[90px] md:max-w-[150px]
  }

  .header-sticker-2 {
    @apply absolute max-w-[110px] md:max-w-[150px]
  }

  .header-title {
    @apply flex justify-center items-center text-[28px] md:text-[35px] mb-[35px] font-semibold border border-transparent relative scroll-mt-[100px]
  }

  .illustration-anim {
    @apply max-w-[380px] min-w-[120px] w-full h-full object-cover rounded-4xl transition-transform duration-1000 ease-out
  }
  

  .skill-section {
    @apply flex flex-row flex-wrap items-start border-b-2 border-black ;
  }
  
  .skill-header {
    @apply flex font-semibold w-[150px] justify-start items-start text-2xl;
  }
  
  .skill-grid {
    @apply grid grid-cols-3 gap-2 p-2 grow text-lg;
  }
  
  .projects-card {
    @apply flex flex-wrap justify-center max-w-[2000px] gap-6 mx-auto
  }

  .projects-card-reverse {
    @apply flex flex-wrap-reverse justify-center max-w-[2000px] gap-6 mx-auto
  }

  .projects-card-image {
    @apply w-[90%] md:w-[45%]
  }
  
  .projects-card-body {
    @apply flex flex-col w-[85%] md:w-[45%] gap-10 flex-wrap
  }

  .projects-link {
    @apply flex flex-row gap-3 
  }
  
  .projects-link-reverse {
    @apply flex flex-row-reverse gap-3 
  }

  .text-header {
    @apply font-semibold text-2xl md:text-3xl
  }
  
  .text-header2 {
    @apply font-semibold text-lg md:text-xl
  }

  .text-subheader {
    @apply text-sm md:text-base
  }
  
  .text-body {
    @apply text-base md:text-xl
  }

  .text-tiny {
    @apply text-sm md:text-base
  }
  

  .animated-grid {
    background-image:
      linear-gradient(0deg, transparent calc(100% - 1px), #fff calc(100% - 1px)),
      linear-gradient(90deg, transparent calc(100% - 1px), #fff calc(100% - 1px));
    background-size: clamp(40px, 3.33vw, 42px) clamp(40px, 3.33vw, 42px);
    background-repeat: repeat;
    animation: gridScroll 4s linear infinite;
  }
  
  .wiggle-right {
    animation: wiggle-right 5s ease-in-out infinite;
  }
  .wiggle-left {
    animation: wiggle-left 5s ease-in-out infinite;
  }
  .wiggle {
    animation: wiggle 5s ease-in-out infinite;
  }


  .hover\:tilt:hover {
    transform: rotate(3deg);
  }
  .dropdown-in {
    animation: dropdownSlideIn 0.5s ease-out forwards;
    /* pointer-events: auto; */
  }
  .dropdown-out {
    animation: dropdownSlideOut 0.5s ease-out forwards;
    /* pointer-events: none; */
    
  }
}

html {
  scroll-behavior: smooth;
}